<h1>TABIMEMOについて</h1>


　<div class="container">
    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
    <a class="btn btn-info btn-xl" href="mailto:contact@yourwebsite.com">メールでお問い合わせする</a>
  </div>