<div class="home">  
  <div class="masthead">
      <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <h1 class="text-uppercase text-white">TABIMEMO</h1>
              <hr class="divider my-4" />
            <h2 class="text-uppercase text-black">旅の思い出をメモして共有<br>みんなのTABIMEMOから次の行き先を決めよう！</h2>
            <%= link_to "アカウント登録", signup_path, class: "btn btn-info btn-xl" %>
        </div>
      </div>
    </div>
</div>