<% provide(:title, "Log in") %>
<h1>ログイン</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "パスワード" %>
      <%= link_to "(パスワードをお忘れの場合)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span>ログイン情報を記録する</span>
      <% end %>

      <%= f.submit "ログイン", class: "btn btn-info btn-xl" %>
    <% end %>

    <p>アカウントの作成がまだの場合<%= link_to "アカウントを作る", signup_path %></p>
  </div>
</div>