<h1>TABIMEMO</h1>

<p>こんにちは<%= @user.name %>,さん</p>

<p>
TABIMEMOへようこそ！以下URLをクリックしてアカウントを有効化してください：
</p>

<%= link_to "アカウント有効化", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>