<h1>パスワードリセット</h1>

<p>パスワードをリセットするためには、以下URLをクリックしてください:</p>

<%= link_to "パスワードリセット", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>このURLは２時間で有効期限ぎれとなります。</p>

<p>
身に覚えのないメールである場合は、無視してください。
あなたのアカウントのパスワードは変更されません。
</p>