<% if !current_user?(post.user) %>
  <span class="like">
    <% if post.iine?(current_user) %>
      <%= form_for(post.likes.find_by(user_id: current_user.id), method: :delete) do |f| %>
        <%= f.submit "🖤 < liked", class: "btn" %>
    <% end %>
    <% else %>
      <%= form_for(post.likes.build) do |f| %>
        <div><%= hidden_field_tag :post_id, post.id %></div>
        <%= f.submit "♡ < like!", class: "btn" %>
      <% end %>
    <% end %>
  </span>
<% end %>