<% provide(:title, 'Sign up') %>
<h1>ユーザー登録</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name , "ユーザー名" %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email , "メールアドレス" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password , "パスワード" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "パスワード確認" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "アカウントを作る", class: "btn btn-info btn-xl" %>
    <% end %>
  </div>
</div>