<% provide(:title, @user.name) %>
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/post_form' %>
    </section>
  </aside>
  
  <div class="col-md-8">
    <p>検索</p>
    <%= form_tag posts_path, :method => 'get' do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :title => nil, class: "btn btn-info btn-xl" %>
    <% end %>
    <% if @user.posts.any? %>
      <ol class="posts">
        <%= render @posts %>
      </ol>
        <%= paginate @posts %>
    <% end %>
  </div>