<%= form_for(@post) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
    <div class="field">
    <%= f.label :title, "場所" %>
    <%= f.text_area :title, placeholder: "例) 箱根温泉", class: 'form-control'%>
    
    <%= f.label :date, "日付" %>
    <%= f.text_area :date, placeholder: "例) 2019/12/24", class: 'form-control'%>
    
    <%= f.label :weather, "天気" %>
    <%= f.select :weather, [["晴れ", "晴れ"], ["曇り", "曇り"], ["雨", "雨"], ["雪", "雪"], ["その他", "その他"]], include_blank: "選択して下さい" %>
  
    <%= f.label :content, "感想" %>
    <%= f.text_area :content, placeholder: "行ってよかった点、おすすめポイント等" %>
    </div>
    
    <div class="form-group row" id="star">
    <%= f.label :rate,'評価 ', class:'col-md-3 col-form-label' %>
    <%= f.hidden_field :rate, id: :review_star %>
  　</div>

    <script>
    $('#star').raty({
    size     : 36,
    starOff:  '<%= asset_path('star-off.png') %>',
    starOn : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    scoreName: 'post[rate]',
    half: true,
    });
    </script>  
  
    <%= f.submit "投稿", class: "btn btn-info btn-xl" %>
    <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
<% end %>

<script type="text/javascript">
  $('#post_picture').bind('change', window.addEventListener('DOMContentLoaded',function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>