<% if current_user?(post.user) %>
<li id="post-<%= post.id %>">
  <div class= "kakomi-box3">
    <p><%= image_tag post.picture.url if post.picture? %></p>
  </div>
  <div class= "kakomi-box3">
    <p class="break">場所：<%= post.title %></p>
    <p>評価：<%= post.rate.to_s %>点<br> 
      <div id="star-rate-<%= post.id %>"></div>
      <script>
      $('#star-rate-<%= post.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= post.rate %>,
      });
      </script>
    </p>
    <p>行った日：<%= post.date %></p>
    <p>天気：<%= post.weather %></p>
    <p class="break">感想：<%= post.content %></p>
    <p>投稿日:<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
    <p>Posted by <%= post.user.name %></p>
    <p><%= link_to "削除", post, method: :delete,
                                       data: { confirm: "削除した投稿は元に戻せません。削除してよろしいですか？" } %>
    </p>
  <div>
</li>
<% else %>
<li id="post-<%= post.id %>">
  <div class= "kakomi-box3">
  <p><%= image_tag post.picture.url if post.picture? %></p>
  </div>
  <div class= "kakomi-box3">
  <p class="break">場所：<%= post.title %></p>
  <p>評価：<%= post.rate.to_s %>点<br> 
      <div id="star-rate-<%= post.id %>"></div>
      <script>
      $('#star-rate-<%= post.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= post.rate %>,
      });
      </script>
  </p>
  <p>行った日：<%= post.date %></p>
  <p>天気：<%= post.weather %></p>
  <p class="break">感想：<%= post.content %></p>
  <p>投稿日:<%= post.created_at.strftime('%Y/%m/%d %H:%M') %></p>
  <p>Posted by <%= post.user.name %><%= link_to gravatar_for(post.user, size: 50), post.user %></p>
  <p><%= render "likes/like", post: post %></p>
  <div>
</li>
<% end %>