<% provide(:title, "All Posts") %>
<h1>みんなのTABIMEMO</h1>
<aside class="col-md-4">
  <p>検索</p>
  <%= form_tag posts_path, :method => 'get' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", :content => nil, class: "btn btn-info btn-xl"%>
  <% end %>
</aside>
<div class="col-md-8">
  <ol class="posts">
  <%= render @posts %>
  </ol>
  <%= paginate @posts %>
</div>