<div class="d-flex align-items-center">
  <h1>行きたいところリスト</h1>
    <div class="ml-auto posts_button">
      <p><%= link_to "もっと探す", posts_path %></p>
    </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">　</th>
      <th scope="col">　</th>
      <td scope="col">感想</td>
      <td scope="col">天気</td>
      <td scope="col">行った日</td>
      <td scope="col">投稿者</td>
      <td scope="col">お気に入り</td>
      <td scope="col">投稿日</td>
    </tr>
  </thead>
  <tbody>
    <% @likes.each do |like| %>
    <% post = Post.find_by(id: like.post_id) %>
    <tr>  
      <th><%= image_tag post.picture.url if post.picture? %></th> 
      <th><%= post.title %><br>評価：<%= post.rate.to_s %>点<br> 
      <div id="star-rate-<%= post.id %>"></div>
      <script>
      $('#star-rate-<%= post.id %>').raty({
      size: 36,
      starOff:  '<%= asset_path('star-off.png') %>',
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      half: true,
      readOnly: true,
      score: <%= post.rate %>,
      });
      </script>
      </th>
            
      <td><%= post.content %></td>
      <td><%= post.weather %></td>
      <td><%= post.date %></td>
      <td><%= link_to "#{post.user.name}", post.user %></td>
      <td><%= render "likes/like", post: post %></td>
      <td><%= post.created_at.strftime('%Y/%m/%d %H:%M') %></td>
      </tr>
      <% end %>
  </tbody>
</table>