<header class="navbar navbar-fixed-top navbar-inverse" style="background-color:#dcdcdc">
  <div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "TOP", root_path %></li>
        <li><%= link_to "TABIMEMOについて", about_path %></li>
        <li><%= link_to "みんなのTABIMEMO", posts_path %></li>
        　<% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              アカウント <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "わたしのTABIMEMO", current_user %></li>
              <li><%= link_to "行きたいところリスト", go_to_list_path %></li>
              <li><%= link_to "アカウント設定", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
          <% else %>
          <li><%= link_to "ログイン", login_path %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>